.my-w-fit-content {
    width: fit-content !important;
}

.my-h-fit-content {
    height: fit-content !important;
}

.my-w-1 {
    width: 1rem !important;
}

.my-w-2 {
    width: 2rem !important;
}

.my-w-3 {
    width: 3rem !important;
}

.my-w-4 {
    width: 4rem !important;
}

.my-w-5 {
    width: 5rem !important;
}

.my-p-select {
    padding: 0.7813rem 0.7813rem !important;
}

.my-p-select:focus {
    padding: 0.7813rem 0.7813rem !important;
}

.my-w-110 {
    width: 110px !important;
}
.my-w-240 {
    width: 240px !important;
}

.my-h-110 {
    height: 110px !important;
}

.my-fs-7 {
    font-size: .875rem !important;
}
.my-fs-8 {
    font-size: .75rem !important;
}
.my-fs-9 {
    font-size: .5rem !important;
}
.my-fs-10 {
    font-size: .25rem !important;
}

.my-transform-0 {
    transform: none !important;
}
.my-transform-45 {
    transform: rotate(45deg) !important;
}
.my-transform-90 {
    transform: rotate(90deg) !important;
}
.my-transform-135 {
    transform: rotate(135deg) !important;
}
.my-transform-180 {
    transform: rotate(180deg) !important;
}
.my-transform-225 {
    transform: rotate(225deg) !important;
}
.my-transform-270 {
    transform: rotate(270deg) !important;
}
.my-transform-315 {
    transform: rotate(315deg) !important;
}
.my-transform-360 {
    transform: rotate(360deg) !important;
}
/* Start context menu */
.context-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 0;
    list-style: none;
    border-radius: 5px;
    z-index: 1000;
}
.context-menu li {
    padding: 5px 20px;
    cursor: pointer;
}
.context-menu li:hover {
    background-color: #f0f0f0;
}
/* End context menu */

/* Start sweet alert */
.swal2-container.swal2-center.swal2-backdrop-show {
    z-index: 122222;
}
/* End sweet alert */

article img {
    border-radius: 10px;
}


/* Table */
/* Hide the search input */
.dt-search ,
.dt-paging ,
.dt-length ,
.dt-info {
    display: none;
}

td,
tr {
    text-align: center;
}
tr {
    vertical-align: middle;
}
th {
    white-space: nowrap;
    /* background: #F8FAFC!important; */
}
table tbody tr:last-child td {
    border-bottom: 0px;
}
.table>:not(:last-child)>:last-child>* {
    border-bottom-color: #dee2e6;
}
tr:has(td.dt-empty):hover {
    background: transparent;
}

/* TODO : REMOVE COMMENT WHEN CREATE DATATABLE */

table .form-check-input {
    border-radius: 0.25rem !important;
    width: 18px;
    height: 18px;
}
table tbody td {
    white-space: nowrap;
}
.sort-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

/* Table End */

/* Blog Card */
.blog-card {
    transition: transform 0.3s ease;
}
.blog-card:hover {
    transform: translateY(-5px);
}
/* Blog Card End */


/* map */
.map-label {
    background-color: white;
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid black;
    white-space: nowrap;
    color: black;
    font-size: 14px;
    font-weight: bold;
}
/* End map */

/* Select2 Start */
.select2-selection__arrow {
    height: 100% !important;
    margin-right: 5px;
}
.select2-selection__rendered {
    height: 100% !important;
    align-items: center;
    display: flex!important;
}
.select2-selection.select2-selection--single {
    height: 100% !important;
}
.selection {
    height: 100% !important;
}
.select2.select2-container.select2-container--default {
    height: 100% !important;
}
/* Select2  End */


/* print Image Start */
.printimage-container {
position: relative;
width: 400px;
}
.printimage-container img {
width: 400px;
display: block;
}
.printimage-container .text-overlay {
position: absolute;
font-size: 30px;
font-weight: bold;
width: 200px;
height: 52px;
text-align: center;
color: black !important;
}
.printimage-container .text-overlay.identifier { top: 14px;}
.printimage-container .text-overlay.code { top: 74px;}
.printimage-container .text-overlay.usage { top: 123px;}
.printimage-container .text-overlay.validity { top: 180px;}
.printimage-container .text-overlay.discount { top: 236px;}
.printimage-container .text-overlay.status { top: 280px;}
.printimage-container .text-overlay.limit { top: 334px;}
/* print Image End */

/* DropZone Start */
.dropzone {
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    border: 4px dashed #ccc;
    border-radius: 1em;
}
/* DropZone End */


a {
    color: #858796;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #858796;
    text-decoration: none;
    background-color: transparent;
}

/* Start Card */
.card {
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    border: 0px;
}
.card .card-header {
    background: white;
    border-bottom: none;
}
.card .card-footer {
    background: white;
    border-top: none;
}
/* End Card */


/* Start navbar */
.navbar {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08) !important;
}
/* End navbar */

/* Start sidebar */
.sidebar {
    height: 100vh;
    width: 15rem !important;
    z-index: 10;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08) !important;
}

.sidebar-rtl {
    padding-inline-start: 0px!important;
}

.scrollable-content {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #d5d5d5 transparent;
}


.sidebar + #content-wrapper {
    padding-left: 15rem;
    scrollbar-width: thin;
}

.sidebar.sidebar-rtl + #content-wrapper {
    padding-right: 15rem;
    padding-left: 0;
    scrollbar-width: thin;
}

body {
    overflow-y: hidden;
    scrollbar-color: #d5d5d5 transparent;
}

/* sidebar myToggled */
.sidebar.myToggled + #content-wrapper {
    padding-left: 4rem;
}
.sidebar.sidebar-rtl.myToggled + #content-wrapper {
    padding-right: 4rem;
    padding-left: 0;
}
.sidebar.myToggled {
    width: 4rem !important;
    overflow: hidden;
}

.sidebar.toggled .sidebar-brand button {
    display: none;
}

.sidebar.myToggled .scrollable-content {
    overflow-y: hidden;
}

.sidebar.myToggled .nav-item {
    display: flex;
}

.sidebar.myToggled:hover .nav-item {
    display: block;
}

.sidebar.myToggled .nav-item .collapse.show {
    display: none;
}

.sidebar.myToggled:hover .nav-item .collapse.show {
    display: block;
}

.sidebar.myToggled .nav-item .nav-link {
    justify-content: center;
}

.sidebar.myToggled:hover .nav-item .nav-link {
    justify-content: start;
}

.sidebar.myToggled .nav-item .nav-link span {
    display: none;
}

.sidebar.myToggled:hover .nav-item .nav-link span {
    display: block !important;
}

.sidebar.myToggled .nav-item .nav-link[data-bs-toggle="collapse"]::after {
    display: none;
}

.sidebar.myToggled:hover .nav-item .nav-link[data-bs-toggle="collapse"]::after {
    display: block !important;
}

.sidebar.myToggled:hover .scrollable-content {
    overflow-y: visible!important;
}

.sidebar.myToggled:hover {
    width: 15rem !important;
}

.sidebar.myToggled .scrollable-content .sidebar-card {
    display: none!important;
}

.sidebar.myToggled:hover .nav-hr {
    display: block;
}
.sidebar.myToggled .nav-hr {
    display: none;
}
/* End sidebar myToggled */

@media (max-width: 767px) {
    .sidebar.toggled {
        width: 15rem !important;
    }
    .sidebar.myToggled {
        width: 0rem !important;
    }
    .sidebar {
        width: 0 !important;
        overflow: hidden;
    }
    #content-wrapper {
        width: 100% !important;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
}

#content-wrapper {
    height: 100vh;
    position: relative;
}

/* Initially, the overlay should be hidden */
#overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000069;
    z-index: 2;
    display: none; /* Hidden by default */
}

/* When the sidebar is toggled, show the overlay */
.sidebar.toggled + #content-wrapper + #overlay {
    display: block;
}

#wrapper #content-wrapper {
    background-color: #f5f5f5!important;
}

/* Bootstrap .btn ripple styles */
.btn {
	position: relative!important;
	overflow: hidden;
}
.btn:hover,
.page-link:focus {
    box-shadow: none!important;
}

/* Start Ripple */
span.ripple-effect {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  position: absolute;
  opacity: 1;
  animation: ripple .6s linear;
}

@keyframes ripple {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
/*  End Ripple */


.form-control:focus,
.form-select:focus,
.input-group:has(.form-control:focus) .form-control,
.input-group:has(.form-select:focus) .form-select,
.form-floating:has(.form-control:focus) .form-control,
.form-floating:has(.form-select:focus) .form-select {
    box-shadow : none!important;
    border-color: var(--bs-primary)!important;
}
.input-group:has(.form-control:focus) span,
.input-group:has(.form-control:focus) button,
.input-group:has(.form-control:focus) .input-group-text,
.input-group:has(.form-select:focus) label,
.input-group:has(.form-select:focus) button {
    border-color: var(--bs-primary)!important;
}
.form-floating:has(.form-control:focus) label,
.form-floating:has(.form-select:focus) label {
    color: var(--bs-primary)!important;
}
.input-rtl {
    direction: rtl!important;
}
.input-group.input-rtl:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}
.input-group.input-rtl>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-right: -1px!important;
    margin-left: 0!important;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}
.btn:focus {
    box-shadow : none !important;
}
.form-floating>.form-control-plaintext~label::after,
.form-floating>.form-control:focus~label::after,
.form-floating>.form-control:not(:placeholder-shown)~label::after,
.form-floating>.form-select~label::after {
    background-color: transparent;
}

/* Start modal */
.modal-header {
    border-bottom: none;
}
.modal-footer {
    border-top: none;
}
/* End modal */

/* Start pricing */
.pricing-card {
    transition: transform 0.3s;
    background-image: url(/assets/img/my/pricing.png);
    background-size: contain;
}
.pricing-card:hover {
    transform: translateY(-10px);
}
/* End pricing */


.rounded-bottom-start-1 {
    border-bottom-left-radius: 0.25rem !important;
}

.rounded-bottom-right-1 {
    border-bottom-right-radius: 0.25rem !important;
}

.my-btn-close {
    position: absolute !important;
    top: -10px;
    right: -10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08) !important;
}

.btn-icon {
    width: 40px;              /* Ensures the button is circular */
    height: 40px;
    padding: 0;               /* Removes default padding for a circular look */
    display: inline-flex;     /* Aligns the icon at the center */
    align-items: center;
    justify-content: center;
    font-size: 18px;          /* Adjust font size to match icon size */
}

.btn-icon i {
    pointer-events: none;     /* Prevents icon from triggering events */
}

/* Start validation */
.error {
    color: var(--bs-danger) !important;
}

.form-control.error,
.form-floating:has(.form-control.error) .form-control,
.form-floating:has(.form-select.error) .form-select,
.input-group:has(.form-control.error) .form-control,
.input-group:has(.form-select.error) .form-select,
.input-group:has(.form-control.error) span,
.input-group:has(.form-control.error) button,
.input-group:has(.form-control.error) .input-group-text,
.input-group:has(.form-select.error) label,
.input-group:has(.form-select.error) button {
    border-color: var(--bs-danger) !important;
}

.form-group-floating:has(.form-control.error) label,
.form-group-floating:has(.form-select.error) label {
    color: var(--bs-danger) !important;
}

.form-floating:has(.form-control.error) label,
.form-floating:has(.form-select.error) label {
    color: var(--bs-danger) !important;
}

.form-control.valid,
.form-floating:has(.form-control.valid) .form-control,
.form-floating:has(.form-select.valid) .form-select,
.input-group:has(.form-control.valid) .form-control,
.input-group:has(.form-select.valid) .form-select,
.input-group:has(.form-control.valid) span,
.input-group:has(.form-control.valid) button,
.input-group:has(.form-control.valid) .input-group-text,
.input-group:has(.form-select.valid) label,
.input-group:has(.form-select.valid) button {
    border-color: var(--bs-success) !important;
}

.form-floating:has(.form-control.valid) label,
.form-floating:has(.form-select.valid) label {
    color: var(--bs-success) !important;
}

/* End validation */

/* Start form-group-floating */
.form-group.form-group-floating {
    position: relative;
}
.form-group.form-group-floating input,.form-group.form-group-floating textarea {
    padding: .75rem;
}
.form-group.form-group-floating select {
    padding-top: .75rem;
    padding-bottom: .75rem;
}
.form-group.form-group-floating label {
    position: absolute;
    left: 1.5rem;
    top: .75rem;
    background: white;
    padding-inline: .3em;
    transition: transform 200ms;
    pointer-events: none;
    transform-origin: left;
    translate: -.3em;
}

.form-group.form-group-floating.input-rtl label {
    left: auto!important;
    right: 0!important;
    /* right: .5rem!important; */
}

.form-group.form-group-floating input::placeholder,
.form-group.form-group-floating textarea::placeholder {
    opacity: 0;
}
.form-group.form-group-floating input:focus + label,
.form-group.form-group-floating textarea:focus + label,
.form-group.form-group-floating select:focus + label,
.form-group.form-group-floating input:not(:placeholder-shown) + label,
.form-group.form-group-floating textarea:not(:placeholder-shown) + label,
.form-group.form-group-floating select:not(:placeholder-shown) + label {
    transform: translateY(calc(-50% - .75rem)) scale(.8);
    color: var(--bs-primary);
}

.form-group.form-group-floating input:focus,
.form-group.form-group-floating textarea:focus,
.form-group.form-group-floating select:focus {
    border: 1px solid var(--bs-primary);
}
/* .form-group.form-group-floating input:not([type="number"]):focus::placeholder { */
    /* opacity: 1 !important; */
/* } */
.form-group-floating input[type="number"]:focus::placeholder {
    opacity: 1 !important;
}

/* End form-group-floating */

/* Start datetime form group */
.form-group:has(.form-control[type="datetime"]),
.form-group:has(.form-control[type="date"]),
.form-group:has(.form-control[type="time"]),
.form-group:has(.form-control[type="datetime-local"]) {
    position: relative;
}

.form-group:has(.form-control[type="datetime"]) .form-label,
.form-group:has(.form-control[type="date"]) .form-label,
.form-group:has(.form-control[type="time"]) .form-label,
.form-group:has(.form-control[type="datetime-local"]) .form-label {
    transform: translateY(calc(-50% - .75rem)) scale(.8);
    position: absolute;
    left: .75rem;
    top: .75rem;
    background: white;
    padding-inline: .3em;
    transition: transform 200ms;
    pointer-events: none;
    transform-origin: left;
    translate: -.3em;
}

.form-group:has(.form-control[type="datetime"]):focus .form-label,
.form-group:has(.form-control[type="date"]):focus .form-label,
.form-group:has(.form-control[type="time"]):focus .form-label,
.form-group:has(.form-control[type="datetime-local"]:focus) .form-label {
    color: var(--bs-primary)!important;
}

/* End datetime form group */


/* Start Avatar */
.avatar {
    border-radius: 50%;
    border: 2px solid white;
}
.avatar-group {
    display: flex;
    align-items: center;
}
.avatar-group:has(.avatar-sm) .avatar-sm {
    margin-left: -8px;
}
.avatar-group:has(.avatar-md) .avatar-md {
    margin-left: -10px;
}
.avatar-group:has(.avatar-lg) .avatar-lg {
    margin-left: -12px;
}
.avatar-count {
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Reset margin for the first avatar */
.avatar-group .avatar:first-child,
.avatar-group .avatar-count:first-child {
    margin-left: 0;
}
.avatar-sm {
    width: 24px;
    height: 24px;
    font-size: 0.65rem;
}
.avatar-md {
    width: 36px;
    height: 36px;
    font-weight: 700;
    font-size: 1rem;
}
.avatar-lg {
    width: 48px;
    height: 48px;
    font-size: 0.85rem;
}
/* End Avatar */

/* Start Accordion-v1 */
.accordion.accordion-v1 .accordion-item .accordion-button,
.accordion.accordion-v2 .accordion-item .accordion-button {
    box-shadow: none;
    background-color: transparent;
}
.accordion.accordion-v1 .accordion-item .accordion-button:focus,
.accordion.accordion-v2 .accordion-item .accordion-button:focus {
    box-shadow: none;
}
/* End Accordion-v1 */


/* Start Map */
.accordion.accordion-map {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #d5d5d5 transparent;
}

.gm-search-input {
    background: rgb(255, 255, 255);
    margin: 10px;
    padding: 6px;
    text-transform: none;
    appearance: none;
    position: absolute;
    user-select: none;
    height: 40px;
    width: 210px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    overflow: hidden;
    top: 0px;
    right: 47px;
    border:0;
    border-radius: 2px;
}
/* End Map */


/* Start Icons */
.my {
    display: flex;
    width: 24px;
    height: 24px;
}
svg {
    width: 100%;
    height: 100%;
}
/* End Icons */
